.App {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

main {
    margin-top:5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.App-header {
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    background-color: grey;
}

.examples {
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.switch {
    margin-top: 10px;
    display: flex;
    align-self: center;
    justify-content: space-between;
    width: 200px;

}

.switch > p {
    width: 15px;
    height: 15px;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
}
